{% assign cv_competences = site.data.cv_competences %}

<h4 class="ui dividing blue header">{{ cv_competences.title }}</h4>
<table class="ui very basic very compact top aligned small table">
  <tbody>
    {% for competence in cv_competences.list %}
    <tr>
      <td>{{ competence.name}}</td>
      <td class="right aligned top aligned single line">
        {% for i in (1..5) %}
          {% if i <= competence.note %}
            <i class="small circle icon"></i>
          {% else %}
            <i class="small circle thin icon"></i>
          {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
