<h4 class="ui dividing blue header" style='margin-bottom: 2em'>{{ langues.title }}</h4>
<div class="ui two column grid">
  {% for langue in langues.list %}
  <div class="ten wide column" style='padding-top:0px; padding-bottom:0px'>
    <div class="ui small list">
      <div class="item">
        <div class="content">
          <div class="header">{{ langue.title }}</div>
          <div class="description">
            <small>{{ langue.desc }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="six wide column" style='padding-top:0px; padding-bottom:0px'>
    <div style="float:right">
      {% for i in (1..5) %}
        {% if i <= langue.note %}
          <i class="small circle icon" style='width:1em'></i>
        {% else %}
          <i class="small circle thin icon" style='width:1em'></i>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
