{% assign entete = site.data.entete %}

<div class="ui grid">
  <div class="middle aligned row">
    <div class="left floated five wide column">
      <img class="ui small image" src="https://cloud.githubusercontent.com/assets/14069861/9600742/1c5c07b0-509d-11e5-8220-ba9426d9e146.jpg"></img>
      <h1 class="ui header">{{ entete.name }}</h1>
    </div>
    <div class="right floated nine wide column">
      <div class="ui tiny divided horizontal list">
        {% for contact in entete.contact_info %}
        <div class="item">
          <div class="content">
            <div class="header">{{ contact.title }}</div>
            {% for content in contact.content %}
            <div class="description">{{ content }}</div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
