<div class="ui grid">
  <div class="middle aligned row">
    <div class="three wide column">
      <img class="ui small circular bordered image" src="https://cloud.githubusercontent.com/assets/14069861/9700230/f1cbf976-53fb-11e5-9953-2798e38feb8b.jpg"></img>
    </div>
    <div class="four wide column">
      <h1 class="ui header">{{ entete.name }}</h1>
    </div>
    <div class="nine wide column">
      <div class="ui tiny divided horizontal list">
        {% for contact in entete.contact_info %}
        <div class="item">
          <div class="content">
            <div class="header">{{ contact.title }}</div>
            {% for content in contact.content %}
            <div class="description">{{ content }}</div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
