{% assign cv_hobbies = site.data.cv_hobbies %}

<h4 class="ui dividing blue header">{{ cv_hobbies.title }}</h4>
<div class="ui two column grid">
  <div class="column">
    <table class="ui very basic very compact top aligned small table">
      <tbody>
        {% for hobby in cv_hobbies.list %}
        {% if hobby.colonne == 1 %}
        <tr>
          <td>
            <strong>{{ hobby.title }}</strong>
            <br/>{{ hobby.description }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="ui very basic very compact top aligned small table">
      <tbody>
        {% for hobby in cv_hobbies.list %}
        {% if hobby.colonne == 2 %}
        <tr>
          <td>
            <strong>{{ hobby.title }}</strong>
            {% if hobby.description %}
            <br/>{{ hobby.description }}
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
