{% assign cv_langues = site.data.cv_langues %}

<h4 class="ui dividing blue header">{{ cv_langues.title }}</h4>
<table class="ui very basic very compact top aligned small table">
  <tbody>
    {% for langue in cv_langues.list %}
    <tr>
      <td>
        <strong>{{ langue.title }}</strong>
        <br/><small>{{ langue.desc }}</small>
      </td>
      <td class="right aligned single line">
        {% for i in (1..5) %}
          {% if i <= langue.note %}
            <i class="small circle icon"></i>
          {% else %}
            <i class="small circle thin icon"></i>
          {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
