<p style="text-indent: 1em">
  Je vous remercie vivement de l’attention que vous porterez à ma candidature. Pour entrevoir une partie de mon travail, je vous invite à consulter mon curriculum vitae et me tiens à votre disposition pour un entretien.
</p>
<p style="text-indent: 1em">
  Dans l’attente de vous rencontrer pour échanger plus amplement, je vous prie d’agréer, Madame, Monsieur, l’expression de mes sentiments les meilleurs.<br/>
</p>
<div class="ui basic right floated segment" style="margin-right: 50px">
  <strong>{{ entete.header }}</strong>
</div>
