<p style="text-indent: 1em">
  Je vous remercie vivement de l’attention que vous porterez à ma candidature. Je vous invite à consulter mon curriculum vitae ci-joint et à me solliciter si vous souhaitez que je complète cet envoi par des lettres de recommandation.
</p>
<p style="text-indent: 1em">
  Dans l’attente de vous rencontrer pour poursuivre nos échanges, je vous prie d’agréer, Monsieur, l’expression de mes sentiments les meilleurs.<br/>
</p>
<div class="ui basic right floated segment" style="margin-right: 50px">
  <strong>{{ entete.header }}</strong>
</div>
