{% assign cv_studies = site.data.cv_studies %}

<h4 class="ui dividing blue header">{{ cv_studies.title }}</h4>
<table class="ui very basic very compact small table">
  <tbody>
    {% for studies in cv_studies.list %}
    <tr>
      <td>
        <strong>{{ studies.school }}</strong>
        {% for item in studies.diplome %}
        <br/>{{ item }}
        {% endfor %}
      </td>
      <td class="right aligned single line">
        <em>{{ studies.date }}</em>
        <br/><small>{{ studies.place }}</small>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
