---
---

{% assign entete = site.data.entete %}

{% assign cv_resume = site.data.cv_resume %}
{% assign cv_experience = site.data.cv_experience %}
{% assign cv_competences_interpersonnelles = site.data.cv_competences_interpersonnelles %}
{% assign cv_studies = site.data.cv_studies %}
{% assign cv_langues = site.data.cv_langues %}
{% assign cv_competences = site.data.cv_competences %}
{% assign cv_hobbies = site.data.cv_hobbies %}

<html style="font-size: 0.79em">

<head>
  <title>{{ entete.name }}</title>
  <link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.css">
</head>

<body>
  <div class="ui text container">

    <div class="ui grid">
      <div class="middle aligned row">
        <div class="left floated five wide column">
          <h1 class="ui header">{{ entete.name }}</h1>
        </div>
        <div class="right floated nine wide column">
          <div class="ui tiny divided horizontal list">
            {% for contact in entete.contact_info %}
            <div class="item">
              <div class="content">
                <div class="header">{{ contact.title }}</div>
                {% for content in contact.content %}
                <div class="description">{{ content }}</div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <br/>

    <h3 class="ui dividing header" style="color: #006AC2">{{ entete.title }}</h3>
    <p align="justify"><small>{{ cv_resume.content }}</small></p>
  
    <br/>

    <h4 class="ui dividing blue header">{{ cv_experience.title }}</h4>
    {% for experience in cv_experience.list %}
    <table class="ui very basic very compact small table">
      <tbody>
        <tr>
          <td>
            <strong>{{ experience.title }}</strong>
            <br/>{{ experience.compagn }}
          </td>
          <td class="right aligned">
            <em>{{ experience.date }}</em>
            <br/><small>{{ experience.place }}</small>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="ui small list">
              {% for section in experience.list %}
              <div class="item">
                <div class="content">
                  {{ section.name }}
                </div>
                <div class="ui bulleted list">
                  {% for item in section.items %}
                  <div class="item">
                    <div class="content">{{ item.name }}</div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    {% endfor %}

    <h4 class="ui dividing blue header">{{ cv_studies.title }}</h4>
    <table class="ui very basic very compact small table">
      <tbody>
        {% for studies in cv_studies.list %}
        <tr>
          <td>
            <strong>{{ studies.school }}</strong>
            {% for item in studies.diplome %}
            <br/>{{ item }}
            {% endfor %}
          </td>
          <td class="right aligned single line">
            <em>{{ studies.date }}</em>
            <br/><small>{{ studies.place }}</small>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <h4 class="ui dividing blue header">{{ cv_langues.title }}</h4>
    <table class="ui very basic very compact top aligned small table">
      <tbody>
        {% for langue in cv_langues.list %}
        <tr>
          <td>
            <strong>{{ langue.title }}</strong>
            <br/><small>{{ langue.desc }}</small>
          </td>
          <td class="right aligned single line">
            {% for i in (1..5) %}
              {% if i <= langue.note %}
                <i class="small circle icon"></i>
              {% else %}
                <i class="small circle thin icon"></i>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="ui two column grid">
      <div class="column">
        <h4 class="ui dividing blue header">{{ cv_competences.title }}</h4>
        <table class="ui very basic very compact top aligned small table">
          <tbody>
            {% for competence in cv_competences.list %}
            <tr>
              <td>{{ competence.name}}</td>
              <td class="right aligned top aligned single line">
                {% for i in (1..5) %}
                  {% if i <= competence.note %}
                    <i class="small circle icon"></i>
                  {% else %}
                    <i class="small circle thin icon"></i>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <h4 class="ui dividing blue header">{{ cv_competences_interpersonnelles.title }}</h4>
        <table class="ui very basic very compact small table">
          <tbody>
            {% for competence in cv_competences_interpersonnelles.list %}
                <tr>
                  <td>{{ competence.name}}</td>
                  <td class="right aligned single line">
                    {% for i in (1..5) %}
                      {% if i <= competence.note %}
                        <i class="small circle icon"></i>
                      {% else %}
                        <i class="small circle thin icon"></i>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <h4 class="ui dividing blue header">{{ cv_hobbies.title }}</h4>
    <div class="ui two column grid">
      <div class="column">
        <table class="ui very basic very compact top aligned small table">
          <tbody>
            {% for hobby in cv_hobbies.list %}
            {% if hobby.colonne == 1 %}
            <tr>
              <td>
                <strong>{{ hobby.title }}</strong>
                <br/>{{ hobby.description }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="ui very basic very compact top aligned small table">
          <tbody>
            {% for hobby in cv_hobbies.list %}
            {% if hobby.colonne == 2 %}
            <tr>
              <td>
                <strong>{{ hobby.title }}</strong>
                {% if hobby.description %}
                <br/>{{ hobby.description }}
                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>

</html>
