---
---

<html style="font-size: 0.79em">

<head>
  <title>{{ entete.name }}</title>
  <link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.css">
</head>

<body>
  <div class="ui text container">

    {% include entete.html %}
    {% include resume.html %}
    {% include experience.html %}
    {% include studies.html %}
    <div class="ui two column grid">
      <div class="column">{% include competences.html %}</div>
      <div class="column">{% include competences_interpersonnelles.html %}</div>
    </div>
    {% include interets.html %}

  </div>
</body>

</html>
